/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

body { 
	min-width: 1170px; 
}

.container {
	width: 960px;
}

.search-wrapper{
  margin: auto;
  height: 140px;
  width: 500px;
  margin-top: 282px;
  padding: 20px;
  background-color: #000000;
  border: 2px solid #000000;
  opacity: 0.6;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  border-radius: 15px;
}

.text-fields-wrapper{
  margin: 45px 0 0 0;
  text-align:center;
}

.from-box {
  margin-right: 30px;
}
