/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require twitter/bootstrap
 */

body {
	min-width: 1170px;
}

.trippy-container {
  width: 100%;
}

#search-box {
  width: 540px;
  margin: 200px auto 0;
  margin-top: 200px;
}
.search-wrapper{
  height: 280px;
  width: 540px;
  position: absolute;
  background-color: #000000;
  border: 2px solid #000000;
  opacity: 0.6;
  filter: alpha(opacity=40); /* For IE8 and earlier */
  border-radius: 15px;
  z-index: 5;
}

.text-fields-wrapper{
  text-align:center;
  position: relative;
  z-index: 10;
  width: 544px;
}

.from-box {
  margin-right: 30px;
}

.text-fields-wrapper h3 {
  color: #FFFFFF;
  text-transform: capitalize;
  margin-left: 0;
}
.text-fields-wrapper h3.from-place span {
  color: #FFFFFF;
  text-transform: lowercase;
}

.text-fields-wrapper h3.from-place {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  text-transform: uppercase;
  color: #444444;
  margin-bottom: 30px;
  padding: 15px 0;
  background: #cecece; /* Old browsers */
  background: -moz-linear-gradient(top, #cecece 0%, #999999 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cecece), color-stop(100%,#999999)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #cecece 0%,#999999 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #cecece 0%,#999999 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #cecece 0%,#999999 100%); /* IE10+ */
  background: linear-gradient(to bottom, #cecece 0%,#999999 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cecece', endColorstr='#999999',GradientType=0 ); /* IE6-9 */
}

.text-fields-wrapper .location {
  margin-left: 30px;
}

.text-fields-wrapper .btn-info {
  margin-top: 15px;
  font-size: 14px;
  text-transform: capitalize;
}

/* tabs css */
#slider-code { height: 350px; overflow:hidden; width: 950px; margin: 40px auto; }
#slider-code .viewport { float: left; width: 830px; height: 320px; overflow: hidden; position: relative; }
#slider-code .buttons { font-size: 0px; text-indent: -1000px; width: 48px; height: 48px; display: block; margin: 30px 10px 0 0; float: left; }
#slider-code .prev { background: url(/left.png) 0 0 no-repeat; }
#slider-code .next { background: url(/right.png) 0 0 no-repeat;  margin: 30px 0 0 10px;  }
#slider-code .disable { visibility: hidden; }
#slider-code .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0; }
#slider-code .overview li{ float: left; margin: 20px 20px 0 0; padding: 1px; height: 316px; border: 1px solid #dcdcdc; width: 826px;}

#slider-code .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 45px; }
#slider-code .pager li { float: left; min-width: 150px; margin: 0 25px; }
#slider-code .pager li:first-child { margin-left: 0px; }
#slider-code .pager li:last-child { margin-right: 0px; }
#slider-code ul.pager { border-bottom: 1px dashed #DDDDDD; }
#slider-code ul { margin: 0!important; padding: 0;  }
#slider-code .pagenum { background-color: #fff; text-decoration: none; text-align: center; padding: 5px; color: #555555; font-size: 14px; font-weight: bold; display: block; }
#slider-code .active { color: #fff; background-color:  #555555; }

/* google maps styling */
#directions-panel {
  height: 100%;
  float: right;
  width: 390px;
  overflow: auto;
}

#map {
  width: 550px;
  height: 300px;
  float: right;
}

/* weather styling */
