<div class="container" style="margin-top:100px"><div class="row">
    <div class="span4">
      <p>&nbsp;</p>
    </div>
    <div class="span12">
      <form>
        <fieldset>
          <h1>Plan a trip for your next week-end<br /><small>Enter the city where you wanna go, we'll tell you what to do.</small></h1>
          <div style="margin-bottom:10px">
            <span class="help-block">
              Try <strong><a href="http://www.my-next-trip.com/your-weekend/48.856614/2.3522219/Paris,%20France/">Paris, France</a></strong>, <a href="http://www.my-next-trip.com/your-weekend/52.3702157/4.8951679/Amsterdam,%20The%20Netherlands/">Amsterdam, The Netherlands</a>, <a href="http://www.my-next-trip.com/your-weekend/44.837789/-0.57918/Bordeaux,%20France/">Bordeaux, France</a> or <a href="http://www.my-next-trip.com/your-weekend/51.51333/-0.088947/City%20of%20London,%20UK/">City of London, UK</a></span>
          </div>
          <div class="clearfix" style="margin-bottom: 0px;">
            <!--
            <input class="xlarge" id="city" name="city" size="30" type="text" value="Paris, France">
            -->
            <div class="input-append">
              <input class="mini" id="city" name="city" type="text" style="width:200px">
              <label class="add-on active"><input id="checkFoursquare"  name="checkFoursquare" type="checkbox" checked="checked"><div class="twipsy fade left in" style="width:150px; top:-4px; right: 30px; text-shadow:none;"><div class="twipsy-arrow"></div><div class="twipsy-inner">Do you have <strong>Foursquare</strong>?</div></div></label>
            </div>
            <a class="btn success" style="margin-left:10px" onclick="getCity();"><strong>Let's roll</strong> baby!</a>
          </div>
          <div class="pagination" id="city-display" style="margin-top:0px">
            <ul style="margin-top:10px" id="the-cities">
              <li class="prev disabled"><a>Which one?</a></li>
            </ul>
          </div>
          <div style="margin-top:10px">
            <span class="help-block">Made by <a href="http://www.twitter.com/benjaminnetter">Benjamin Netter</a> using <a href="http://www.foursquare.com/">Foursquare</a>.</span>
          </div>
          <div id="credits">
            Background image comes from <a href="http://www.flickr.com/photos/teddsantana/">Tedd Santana</a>
          </div>
          <div id="facebook">
            <div id="fb-root"></div>
            <div class="fb-like" data-href="http://www.my-next-trip.com/" data-send="false" data-width="450" data-show-faces="false"></div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <script>
    var haveFoursquare = false;

    $("#city").keypress(function(event) {
      if (event.which == 13) {
        getCity();
        return false;
      }
    });

    $('#city').click(function() {
      if ($('#city').val() == "Paris, France")
      $('#city').val('');
    });

    $('#city').blur(function() {
      if ($('#city').val() == "")
      $('#city').val('Paris, France');
    });

    $(function() {
      $('html').css({'background' : 'url(http://www.my-next-trip.com/img/paris.jpeg) no-repeat', 'background-size' : '100%'});
      $('#city').focus();
      $('#checkFoursquare').attr('checked', haveFoursquare);
      $('.twipsy').fadeIn(function(){
        setTimeout(fadeTip, 1500);
      });
    });

    $('#checkFoursquare').click(function(event) {
      haveFoursquare = (haveFoursquare)?(false):(true);
      $('#checkFoursquare').attr('checked', haveFoursquare);
      if (haveFoursquare)
      $('.twipsy-inner').html('I have <strong>Foursquare</strong>');
      else
      $('.twipsy-inner').html('I don\'t have <strong>Foursquare</strong>');
    });

    function fadeTip() {
      $('.twipsy').fadeOut(500);
    }

    $('.add-on').hover(function(){
      $('.twipsy').css('display', 'block');
      }, function(){
      $('.twipsy').css('display', 'none');
    });

    function getCity() {
      $('#city-display').fadeOut(function(){
        $('.delete').remove();
        $.ajax({
          type: "POST",
          async: true,
          url: "./ajax/getCity",
          data: {city: $('#city').val()},
          success: function(data){
            if (data.length > 1) {
              $('#city-display').fadeIn();
              for(var i in data)
              {
                if (i < 3)
                $('<li class="delete"><a onclick="goToNextPage(' + data[i].location.lat + ', ' + data[i].location.lng + ', \'' + data[i].city + '\')">' + data[i].city + '</a></li>').appendTo('#the-cities');
              }
            }
            else if (data.length == 1) {
              goToNextPage(data[0].location.lat, data[0].location.lng, data[i].city);
              } else if (data.city) {
              goToNextPage(data.location.lat, data.location.lng, data.city);
            }
          }
        });
      });
    }

    function goToNextPage(latitude, longitude, city) {
      base_url = 'http://www.my-next-trip.com/your-weekend/' + latitude + '/' + longitude + '/' + city + '/'
      if (haveFoursquare)
      url = 'https://foursquare.com/oauth2/authenticate?client_id=MHTKJ5L43SYQDY1R5CHEOI2KQVSZT2G1FALWVDZVWWGG4NQY&response_type=code&redirect_uri=' + base_url;
      else
      url = base_url;
      $(location).attr('href', url);
    }
  </script>
</div>

