<div class="search-wrapper">
</div>
<div class="text-fields-wrapper">
  <h3 class="from-place"><span>From: </span>Bangalore</h3>
  <h3>Where do you wanna go?</h3>
  <input type="text" class="from-box location" placeholder="Location Name"/>
  <h3>When?</h3>
  <input type="text" class="from-box" placeholder="Departure MM-DD-YYYY"/>
  <input type="text" placeholder="Arrival MM-DD-YYYY"/>
  <br />
  <input type="button" class="btn btn-info" value="Stay? Travel? places around?" />
</div>

<div id="slider-code">
    <ul class="pager">
        <li><a rel="0" class="pagenum" href="#">1</a></li>
        <li><a rel="1" class="pagenum" href="#">2</a></li>
        <li><a rel="2" class="pagenum" href="#">3</a></li>
    </ul>
    <a href="#" class="buttons prev">left</a>
    <div class="viewport">
        <ul class="overview">
            <li>tab one</li>
            <li>tab two</li>
            <li>tab three</li>                            
        </ul>
    </div>
    <a href="#" class="buttons next">right</a>
</div>
