<% @places_of_interest.uniq.each do |interest| %>
  $("#places").append("<div class='boxes'><label>Name:</label><span><%= raw interest['name'] %></span><label>Distance:</label><span><%= raw interest['distance'] %></span><label>Tag:</label><span><%= !interest['tag'].nil? ? interest['tag'].join(',') : "outdoor"%></span></div>");
<% end %>
