<% @places_of_interest.each do |interest| %>

  <% name = interest['name'].present? ? raw interest['name'].split(',')[0] : nil %>
  $("#places").append("<div class='boxes'><label>Name:</label><span><%= name %></span>
  	<label>Distance:</label><span><%= raw interest['distance'] %>"Miles"</span>
  	<label>Tag:</label><span><%= raw interest['tag'].join(',') "%></span>
  	</div>");
<% end %>
